 <!-- Department and category list for navbar 
data aviable in seed files-->
<% departments = Department.all.order("id")
	categories = Category.all .order("id")
  category_counter = 0 %>
<% departments.each_with_index do |department, index| %>
  <li>
    <%= link_to "#{department.name}", categories_path(selected: "#{index + 1}") %>
  </li>
<% end %>

