<!-- Department and category list for navbar 
data aviable in seed files-->

<% departments = Department.all
	categories = Category.all 
  category_counter = 0 %>
<% departments.each_with_index do |department, index| %>
  <li class="dropdown">
    <%= link_to "#{department.name}", categories_path(selected: "#{index + 1}") %>
    <ul class="dropdown-menu">
    	<% categories.where("department_id = ?", index + 1).each_with_index do |category, index| 
        category_counter += 1 %>
    		<li><%= link_to "#{category.name}", products_path(selected: "#{category_counter}") %></li>
    	<% end %>
    </ul>
  </li>
<% end %>
