<div class="container-fluid">
    <div class="row">
    	  <div class="col-md-4 center-block text-center where-to-find-us">
            <h3>Contact us</h3>
						<h2 class="phone">+ 1-800-487-1254</h2>
						<i class="glyphicon glyphicon-map-marker"></i>&nbsp; Rīga, Braslas iela 16, LV-1084  <br>
						<i class="glyphicon glyphicon-envelope"></i>&nbsp;<a href="mailto:marisancans@gmail.com"> marisancans@gmail.com</a>
        </div>
        <div class="col-md-4">
        	<h1 class="text-center">Flybit</h1>
    			<%= cl_image_tag "logo.png", :crop => "crop", class: "center-block" %>
    		</div>
    		<div class="col-md-4 text-center center-block about-us">
          <h3>About us</h3>
          <p>We are here to offer you the best prices for on the internet. Cheap laptops, computers, tablets of different sizes. All sorts of accessories ranging from headphones to battery chargers.</p>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="container-fluid copyright">
      <h5>© 2016 Copyright: <a href="http://www.Flybit.com"> Flybit.com </a></h5>
    </div>
</div>
