<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				Kontakti
			</div>
			<div class="col-md-4">
				Par mums
			</div>
			<div class="col-md-4">
				Lietas
			</div>
	</div>
</div>
