<nav class="navbar navbar-default" data-spy="affix" data-offset-top="197">
  <ul class="nav navbar-nav">
    <a class="navbar-brand" <%= link_to "logo",    root_url %> </a>

    <li class="dropdown">
         <a <%= link_to "Lapptops", categories_path %> </a>
      <ul class="dropdown-menu">
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Bags</a></li>
        <li class="divider"></li>
        <li class="nav-header">Header</li>
        <li><a href="#">Batteries</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="www">Tablets <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Bags</a></li>
        <li class="divider"></li>
        <li class="nav-header">Header</li>
        <li><a href="#">Batteries</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="www">Personal computers <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Bags</a></li>
        <li class="divider"></li>
        <li class="nav-header">Header</li>
        <li><a href="#">Batteries</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="www">Multimedia <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Bags</a></li>
        <li class="divider"></li>
        <li class="nav-header">Header</li>
        <li><a href="#">Batteries</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="www">Accessories <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Bags</a></li>
        <li class="divider"></li>
        <li class="nav-header">Header</li>
        <li><a href="#">Batteries</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </li>
  </ul>


   <ul class="nav navbar-nav navbar-right">
              <li><p class="navbar-text">Already have an account?</p></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
              <li>
                 <div class="row">
                    <div class="col-md-12">
                       <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                        <label id = "welcome">
                          Welcome back!
                        </label>
                          <div class="form-group">
                             <label class="sr-only" for="exampleInputEmail2">Email</label>
                             <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                          </div>
                          <div class="form-group">
                             <label class="sr-only" for="exampleInputPassword2">Password</label>
                             <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                          <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                          </div>
                          <div class="form-group">
                             <button type="submit" class="btn btn-primary btn-block">Log in</button>
                          </div>
                          <div class="checkbox">
                             <label>
                                <input type="checkbox"> Remember me
                             </label>
                          </div>
                       </form>
                    </div>
                    <div class="bottom text-center">
                      Don't have an account? <a href="#"><b>Register</b></a>
                    </div>
                 </div>
              </li>
            </ul>
              </li>
            </ul>
</nav>
