<%= stylesheet_link_tag "navbar", "departments" %>
<% @title="Flybit - Browse shop" %>
<%= stylesheet_link_tag "navbar" %>
<h4>Browse shop</h4>
<div class="col-md-1"></div>
<div class="col-md-10">
	<% cache do %>
		<%= render @departments %>
	<% end %>
</div>
<div class="col-md-1"></div>