<div class="col-xs-4 col-md-4 col-md-4 text-right">
	<h6><strong><span class="text-muted"> €<%= item.product.price %> </span> <span> x </span></strong></h6>
</div>
<div class="col-xs-4 col-md-4 col-md-4">
	<input type="text" class="form-control input-sm" value="<%= item.quantity %>">
</div>
<div class="col-xs-4 col-md-4 col-md-4">
	<h6><strong> <span> = <%= item.total_price %></span></strong></h6>
</div>