// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html { 
  background: url('charges_bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#thank-you{
	left: 0;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;

	h1 {
		font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
		font-size: 50px;
		font-style: normal;
		font-variant: normal;
		font-weight: 1000;
	}
	p{
		font-size: 25px;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
		color: #FFFFFF;
	}
}