.page-footer {
	background-color: #222;
	color: white;
	margin-top: 50px;
}

.about-us, .where-to-find-us {
	margin-top: 60px;
}

.copyright {
	background-color: #404040;
	margin-top: 10px;
}

.where-to-find-us a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}