
html,
body {
	margin:0;
	padding:0;
	height:100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#content {
	padding-bottom: 300px; /* Height of the footer element */
}

#footer {
  font-family: 'Open Sans';
	height: 250px;
	position:absolute;
	bottom:0;
	width: 100%;

	.footer-info {
		background-color: #222;
		color: white;
	}

	.about-us, .where-to-find-us {
		margin-top: 40px;
	}

	.footer-copyright {
		background-color: #404040;
		padding-bottom: 10px;
		color: white;
		link a:hover, a:visited, a:link, a:active {
		  text-decoration: none;
		}
	}

	a:hover, a:visited, a:link, a:active
	{
	  text-decoration: none;
	  color: white;
	}
}

