/*-------- Space so that navbar doesnt overlap content -------*/

body{
  padding-top: 50px;
}

/*-------- Navbar butterfly(butter) logo dimensions --------*/

.butter_image{
  height: 50px;
  width: 50px;
  padding: 10px 10px;
}

/*-------------- Login dropdown menu styling -------------*/

#login-dp{
    padding: 1% 2% 1% 2%;
    overflow:hidden;
    background-color: white;
}

/*------------- Dropdown box space between the top(cart, login)-------*/

.dropdown-menu{
    margin-top: 0;
}

/*-------- If browser is resized to x pixels, this happens -----------*/


@media (max-width: 990px) {
    body{
      padding-top: 70px;
    }
    .navbar-header {
        float: none;
    }
    #button_float_left{
      float: left;
    }
    .navbar-toggle {
        display: block !important;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        margin-top: 7.5px;
    }

    /* With block, the dropdown stays open and allows scrolling */
    /* inline doesn't */

    .collapse.in{
        display: block !important;
    }
}

@media (max-width: 768px){
    body{
      padding-top: 150px;
    }  
}


/*------------------ Text between cart and login --------------*/

.navbar-text{
  
  color: grey !important;

  a{
    color: grey;
  }

}

/*------------------ Navbar hover border color background -------------*/

.dropdown a{
  text-decoration: none;
}

.dropdown a:hover {  
  background-color: white;
  color: black;
}


/*--------------- Cart ---------------*/

.cart{
  
  table{
    width: 20%;
  }

  .cart_button_center{
    text-align: center;
  }

}


.cart_login_margin_from_right{
  margin-right: 5%;
}

.cart-button-position:hover{
  border-radius: 5px;  
}







