body{
  padding-top: 50px;
}

.butter_image{
  height: 50px;
  width: 50px;
  padding: 10px 10px;
}

#login-dp{
    padding: 1% 2% 1% 2%;
    overflow:hidden;
    background-color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
    margin-right: 30px;
}


.dropdown a{                 /* Dropdown links */
    text-decoration: none;
}

#shop_button{
  margin-left: 50%;
  margin-top: 5%;

  a{
      text-decoration: none;
      color: white;
  }
}
@media (max-width: 990px) {
    .navbar-header {
        float: right;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
      }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
    }

    .butter_image{
      float: left;
      max-width: 150px;
    }

    .cart_login_margin_from_right{
      max-width: 20%;
    }
}

#no-account{
  text-decoration: none;
  color: black;
}

#no-account:hover{
  color: white;
}

.cart_login_margin_from_right{
  margin-right: 5%;
}



/*------------------ Navbar hover border color background -------------*/

.dropdown a{
  text-decoration: none;
}

.dropdown a:hover {  
  background-color: white;
  color: black;
}



/*----- Cart ----*/

.cart{
  
  table{
    width: 20%;
  }

  .cart_button_center{
    text-align: center;
  }

}








