/* CSS only gallery (using radio inputs)
 * See http://css-tricks.com/forums/topic/click-thumbnail-and-make-it-larger-image-image-gallery-wo-javascript/
 * Support needed for IE7 & older - see http://css-tricks.com/child-and-sibling-selectors/
 */

/* Product tile */
h2 {
	font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
	padding-bottom: 10px;
	padding-top: 10px;
}

/* Description text */
.description-text {

}

/* Price text */
	#price {
	color: #333333;
	font-family: Copperplate / Copperplate Gothic Light, sans-serif;
	font-size: 25px;
	padding-top: 5px;
}

/* Custom bootstrap button css */

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: black;
	border-color: black;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: black;
    border-color: black;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}
