.carousel-control.left, .carousel-control.right {
    background-image: none
}

.content {
	padding-top: 20px;
}

.row-line {
	padding-bottom: 10px;
	.row-line-text {
		font-size: 25px;
		font-family: 'Open Sans' !important;
	}
}