.container-fluid{
    margin-top: 5%;
}

#login-dp{
    padding: 1% 2% 1% 2%;
    overflow:hidden;
    background-color: white;
}


@media(max-width:768px){          //majaslapa tiek samazinata lidz 768px platumam


}


.dropdown-toggle{
    
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
    margin-right: 30px;
}


.dropdown a{                    /* Dropdown links */
    text-decoration: none;
}

#shop_button{
  margin-left: 50%;
  margin-top: 5%;

  a{
      text-decoration: none;
      color: white;
  }
}

.cart-login-position{         /* Space between lists and cart/login */
    margin-left: 450px;
}

#cart{

  a{
    text-decoration: none;
  }
}


#no-account{
  text-decoration: none;
  color: black;
}

#no-account:hover{
  color: white;
}



/*------------------ Navbar hover border color background -------------*/

.dropdown a{
  text-decoration: none;
}

.dropdown a:hover {  
  background-color: white !important;
  border: 2px solid white !important;
  color: black !important;
}
