<%= stylesheet_link_tag "navbar", "departments" %>
<% @title="Flybit - Categories" %>
<%= stylesheet_link_tag "navbar" %>
<h4><%= Department.find(params[:selected]).name %></h4>
<div class="container">
	<%= render @categories %>
</div>