<h4><%= Category.find(params[:selected]).name %></h4>
<%= will_paginate %>
<div="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<%= render @products %>
	</div>
	<div class="col-md-1"></div>
</div>
<%= will_paginate %>