<div class="col-xs-4 col-md-4 text-left">
	<h6><strong><span class="text-muted">€<%= item.product.price_with_discount(item.product.price, item.product.discount) %> </span> <span> x </span></strong></h6>
</div>
<div class="col-xs-4 col-md-4">
	<%= number_field_tag 'quantity', item.quantity, { min: 1, :onchange => "input_change(#{index}, #{item.id})", id: "quantity-input-id-#{index}" } %>
</div>
<div class="col-xs-4 col-md-4 text-center">
	<!-- id = litp- = line item total price -->
	<h6><strong> <span id="litp-id-<%= index %>">= €<%= item.total_price %></span></strong></h6>
</div>