<%= stylesheet_link_tag "navbar", "thank_you" %>
<% @title="Flybit - Thank you" %>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
		  <div class="panel panel-success items-bought">
		  	<div class="panel-body">
					<h1>Thank you for your purchase!</h1>
			    <p>You paid €<%= @price_paid %></p>
					<p>You bought <%= @items_bought %></p>
					<p>we will contact you via email</p>
					<%= link_to "Back to shop", root_url, class: "btn btn-primary btn-outline" %>
		  	</div>
			</div>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>