<%= stylesheet_link_tag "navbar", "thank_you" %>
<% @title="Flybit - Thank you" %>
<div class="text-center" id="thank-you">
	<h1>Thank you for your purchase!</h1>
	<p>You paid €<%= @price_paid %></p>
	<p>You bought <%= @items_bought %></p>
	<p>we will contact you via email</p>
	<%= link_to "Back to shop", root_url, class: "btn btn-primary btn-outline" %>
</div>